{% extends 'base.html' %}
{% block title %}
    About - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>About thInc.</h1>
    <p>
    	If you've got the next great app idea, thInc is for you!
    </p>
    <p>
    	We provide a solution for those of you who have a fantastic app idea but don't necessarily have the time or resources to develop it yourself. Rather than try to learn how to code or learn all of the intricacies of app development, we'll match you with developers who can make your great idea a reality.
    </p>
    <h1>How it works.</h1>
    <p>
    	When you post your idea to thInc, your idea is live for developers to view and decide whether or not they want to partner with you. When the developer agrees to take on a project, they are agreeing to deliver you a working beta within the timeframe you specified. If they are able to deliver an acceptable beta, They will receive a 49% interest in the product created. Giving you, the mastermind behind the idea, a controlling share
    </p>
    <h2>
    	Worried about sharing your idea? 
    </h2>
	<p>
		We take several precautions to make sure that your brilliant idea is protected from theft. This precations include:
		<ul class="about">
		<li>
			Our developers are contractually prevented from developing any ideas from the site outside of their bounds.
		</li>
		<li>
			Every thInc user agrees to an NDA and a Non-compete agreement that forbids the use of the site outside of its intended functions.
		</li>
	</ul>
	</p>
	
{% endblock content %}