{% extends 'base.html' %}
{% block title %}
	Homepage - {{ block.super }}
{% endblock title %}

{% load staticfiles %}

{% block content %}
	<!-- <div class="banner">
        <img class="background" src="{% static 'images/background.jpeg' %}" alt="background" >
    </div> -->

    <div class="idea_section">
        <h1>Top Ideas</h1>
            {% for idea in top_ideas %}
                <div class="idea">
                    <div class="voting">
                        <form role="form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="voteup" value="+">
                        </form>
                        <h3>{{ idea.votes }} votes</h3>
                    </div>
                    <div class="the_rest">
                        <h2>
                        	<a href="{% url 'idea_detail' slug=idea.slug %}">{{ idea.name }}
                    		</a>
                        </h2>
                        <h3>{{ idea.overview }} | <span class="published_date">{{ idea.published_date }}</span></h3>
                        <p>{{ idea.description|truncatewords:50 }}</p>
                    </div>
                </div>
            {% endfor %}
    </div>
    <div class="idea_section">
        <h1>Latest Ideas</h1>
            {% for idea in ideas %}
                <div class="idea">
                    <div class="voting">
                        <form role="form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="voteup" value="+">
                        </form>
                        <h3>{{ idea.votes }} votes</h3>
                    </div>
                    <div class="the_rest">
                        <h2>
                            <a href="{% url 'idea_detail' slug=idea.slug %}">{{ idea.name }}
                            </a>
                        </h2>
                        <h3>{{ idea.overview }} | <span class="published_date">{{ idea.published_date }}</span></h3>
                        <p>{{ idea.description|truncatewords:50 }}</p>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock content %}