body {
    font-family: "Arial Rounded MT Bold", Helvetica, sans-serif;
    transition: background-color .5s;
    margin: 0;
    background-image: url("../images/noise.png");
}

 /* ================== NAV BAR ============== */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    white-space: nowrap;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidenavmenu {
  margin: 40px 0 0 0;
}

#main {
    transition: margin-left .5s;
    padding: 0;
    margin: 0;
}

#burger {
  font-size:40px;
  cursor:pointer;
  margin: 20px;
  display:inline-block;
  float:left;
}

/* =================== MAIN STYLING ================== */


/*      HEADER        */
#header {
  height: 100px;
  border-radius: 5px;
  margin: 5px;
}

.quarter {
  width: 25%;
  height: 100%;
  float: left;
}

.half {
  width: 49%;
  height: 100%;
  float: left;
}
/*        CONTENT       */
.page_content {
  padding: 0;
  margin: 0 10%;
}

.username {
  font-size: .8em;
  margin: 0 0 0 10px;
}

.username i {
  font-size: 1em;
  margin: 0;
  color: #696969;
}


/*        INDEX:        */

.banner {
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("../images/background.png");
  margin: 0 0 20px;
}

.banner img {
  opacity: 0.8;
}

.banner h1 {
  text-indent: 50px;
  margin: 30px;
  color: white;
  font-size: 70px;
  float: left;
}

a#logo {
  width: 50%;
  margin: 5px 25%;
}

img#logo {
  margin: 5px 0;
}

.idea_section:hover .idea_outer {
  border-radius: 5px;
  transition: 0.5s;
  background-color: #3366ff;
}

.idea_section:hover .idea {
  border-radius: 5px;
  transition: 0.5s;
}

.idea_section:hover a {
  color: #191970;
  transition: 0.5s;
}

.idea_outer {
  margin: 10px 20px 50px;
  padding: 6px;
  background-color: #191970;
  border-radius: 76px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px grey;
}

.idea {
  padding: 10px;
  border-radius: 70px;
  background-color: white;
  min-height: 100px;
  transition: 0.5s;
}

.voting {
  margin: 50px 0;
  width: 40px;
  float: right;
  clear: both;
  display: block;
}

.votes {
  padding-left: 10px;
  margin: 50px 0;
  width: 40px;
  float: left;
}

.the_rest {
  margin: 0 50px;
}

.published_date {
  font-style: italic;
  color: #696969;
  font-size: .6em;
}

/*        IDEA DETAIL         */
.idea_detail .idea_outer {
  margin: 10px 20px 50px;
  padding: 6px;
  background-color: #191970;
  border-radius: 76px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px grey;
  min-height: 400px;
}

.idea_detail .idea {
  padding: 50px 10px;
  border-radius: 70px;
  background-color: white;
  min-height: 100px;
  transition: 0.5s;
  min-height: 400px;
}

/* ================== TAGS ====================== */
a {
  text-decoration: none;
}

a.idea_name {
  color: #3366ff;
  transition: 0.5s;
}

a.idea_name:hover {
  color: #191970;
}

a.edit {
  color: black;
}

a.edit:hover {
  color: #696969;
  text-decoration: underline;
}

h1, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
 font-weight: normal;
}

h2 {
  font-size: 2em;
  margin: 0 0 3px;
  padding: 0;
 }

h3 {
font-size: 1.2em;
}

ul, li {
margin-left: 0;
padding-left: 0;
list-style: none;
}

li:nth-of-type(odd) {
padding-left: 75px;
}

li:nth-of-type(even) {
padding-right: 75px;
}

p {
font-size: 16px;
}


/* ==================== BUTTONS ================== */

button#create_idea {
  font-size: 15px;
  font-family: "Arial Rounded MT Bold", Helvetica, sans-serif;
  float: right;
  margin: 25px;
  right: 20px;
  padding: 10px 5px;
  border-radius: 5px;
}

/* ====================== MEDIA QUERIES ====================== */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}